*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  width: 250px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.192);
  text-align: center;
  cursor: pointer;
  margin: 10px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card p{
  margin: 0px
}

.cont-img{
  width: 100%;
}

.cont-img p{
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.904);
  font-weight: bold;

  position: absolute;
  border-radius: 5px;

  margin-left: 4px;
  margin-right: 4px;
  top:4px
}

.cont-img img{
  width: 250px;
  height: 200px;
  object-fit: fill;
  border-radius: 5px;
}
.card .categoria{
  color: rgb(61, 61, 61); 
  font-size: 0.8rem;
  margin-top: 10px;
}

.card .nombre{
  color: rgb(255, 183, 0);
  transition: 0.2s;
}

.card .precio{
  font-size: 0.8rem;
}

.card .descripcion{
  font-size: 0.8rem;
  color: rgb(33, 33, 33);
  margin: 10px 0px;
  margin-bottom: 15px;
}

.card:hover{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
}

.card:hover .nombre{
  font-weight: bold;
  transition: 0.2s;
}


.btn-eliminar{
  border: none;
  border-radius: 10px;
  position: absolute;
  right: 5px;
  font-weight: bold;
  top: 5px;
  background-color: white;
}

.btn-eliminar:hover{
  background-color: rgb(255, 183, 0);
  color:white
}

.cont-portada img{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-top: 30px;
}

.nav-link:hover{
  color: rgb(255, 183, 0) !important;
}

.btn{
  margin-bottom: 10px;
}

.cont-input-img{
  display:flex;
  justify-content: space-between;
}